@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  -ms-overflow-style: none;
  background-color: #171717;
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  overflow-x: clip;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 0px;
  position: relative;
}

.svg {
  width: 150px;
}

.logotext {
  color: #EDEDED;
  font-weight: 700;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: #6600B8;
}

.btnIcon {
  font-size: 1.2rem;
  color: #EDEDED;
}

a {
  display: block;
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
  margin: 40px 0px;
  margin-bottom: 20px;
  width: fit-content;
  letter-spacing: 5px;
  color: #FB2576;
}

a:visited {
  color: #FB2576;
}

.swipesContainer {
  height: fit-content;
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  color: #EDEDED;
  font-weight: 400;
  font-size: 0.85rem;
  background-color: #1c1c1c;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid rgba(56, 56, 56, 0.721);
}

.swipesContainer div {
  width: 100px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swipeIcon {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  opacity: 0.8;
}

.swipeUpIcon {
  transform: rotate(270deg);
  width: 50px;
  height: 50px;
  filter: invert(100%);
  opacity: 0.8;
}

.timerIcon {
  filter: invert(100%);
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

.scoreIcon {
  filter: grayscale(100);
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  position: relative;
  width: 100%;
  width: auto;
  min-height: 100vh;
  height: fit-content;
  padding-top: 30px;
}

* {
  user-select: none;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 2rem;
}

h3 {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 30px;
}

.swipe {
  position: absolute;
}

.timerContainer {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 20px;
  width: 220px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: #EDEDED;
  font-weight: 400;
  font-size: 1.85rem;
  background-color: #1c1c1c;
  border-radius: 15px;
  border: 1px solid rgba(56, 56, 56, 0.721);
}

.cardContainer {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 300px;
  height: 500px;
  border: 1px solid rgba(107, 107, 107, 0.22);
  background: #EDEDED;
  border-radius: 15px;
  transform: perspective(900px) rotateX(25deg);
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
    auto;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 300px;
  overflow: hidden;
}

.logoContainer img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: none;
}

.PLcontainer {
  height: fit-content;
  overflow: hidden;
}

.PLcontainer img {
  width: 50%;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  font-size: 1rem;
  font-weight: 500;
  width: 250px;
  height: fit-content;
  margin: 0;
  padding: 10px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 25px;
  border-radius: 15px;
  color: #FB2576;
}

.card h4 {
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  bottom: 100px;
  left: 25px;
  width: 250px;
  height: fit-content;
  margin: 0px;
  padding: 0px;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  height: fit-content;
  color: #EDEDED;
  border: 1px solid rgba(56, 56, 56, 0.721);
}

.animated-container {
  display: flex;
  justify-content: center;
}

.fans {
  width: 200px;
  filter: grayscale(1);
}

.timesUp {
  width: 200px;
  filter: contrast(5);
}

.timesUpBtnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.timesUpText {
  font-size: 2rem;
  color: #FB2576;
  font-weight: 600;
}

.done {
  font-size: 2rem;
  font-weight: 600;
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  color: #FB2576;
}

.checkBack {
  font-size: 1rem;
  font-weight: 300;
  color: #EDEDED;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

.highscore {
  font-size: 1.5rem;
  font-weight: 400;
}

.highScoreAnimation {
  width: 50px;
}

.information {
  width: 300px;
  height: fit-content;
  background-color: #1c1c1c;
  border-radius: 15px;
  padding: 20px;
  line-height: 30px;
  font-size: 1rem;
  font-weight: 200;
  color: #EDEDED;
  border: 1px solid rgba(56, 56, 56, 0.721);
}

.loaderContainer {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: #EDEDED;
}

.loaderContainer h3 {
  font-size: 1.2rem;
  letter-spacing: 4px;
}

.loader {
  width: 200px;
  position: absolute;
  top: 30px;
  left: 0;
  filter: saturate(0.5);
}

.resultsContainer {
  position: absolute;
  color: #EDEDED;
  min-height: 100vh;
  height: fit-content;
  padding: 10px;
  width: 100%;
  top: 0px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.502);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

.closeBtn {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: #6600B8;
}

.closebtnIcon {
  font-size: 1.2rem;
  color: #EDEDED;
}

.resultListFixture {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  background-color: #1c1c1c;
  border-radius: 15px;
  border: 1px solid rgba(56, 56, 56, 0.721);
}

.hometeamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 200;
  gap: 10px;
  color: #EDEDED;
}

.hometeamContainer img {
  width: 50px;
  background-color: #EDEDED;
  padding: 10px;
  border-radius: 15px;
}

.resultsScoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  gap: 10px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 300;
  overflow: hidden;
  color: #EDEDED;
}

.awayteamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 200;
  gap: 10px;
  color: #EDEDED;
}

.awayteamContainer img {
  width: 50px;
  background-color: #EDEDED;
  padding: 10px;
  border-radius: 15px;
}

.correct {
  color: #EDEDED;
  font-size: 1rem;
  margin: 0px;

}

.wrong {
  color: #EDEDED;
  font-size: 1.1rem;
  margin: 0px;
}

.resultsUIinformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 3px;
  margin: 0px;
}

.resultsAnimations {
  width: 50px;
}

.resultsHighscoreDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 20px 0px;
  background-color: #1c1c1c;
  border-radius: 15px;
  width: 100%;
  border: 1px solid rgba(56, 56, 56, 0.721);
}

.resultsBonusDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 3px;
  background-color: #1c1c1c;
  border-radius: 15px;
  width: 100%;
  border: 1px solid rgba(56, 56, 56, 0.721);
}

.listOfGamesUI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postGameSection {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.devBtnContainer {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Ddate {
  font-weight: 400;
  color: #FB2576;
}

.playedRoundListFixture {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  background-color: #1c1c1c;
  border-radius: 15px;
  border: 1px solid rgba(56, 56, 56, 0.721);
}

.playedHometeamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 200;
  gap: 10px;
  color: #EDEDED;
}

.playedAwayteamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 200;
  gap: 10px;
  color: #EDEDED;
}

.playedHometeamContainer img {
  width: 20px;
  background-color: #EDEDED;
  padding: 10px;
  border-radius: 15px;
}

.playedAwayteamContainer img {
  width: 20px;
  background-color: #EDEDED;
  padding: 10px;
  border-radius: 15px;
}

.resultsScoreDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  font-weight: 400;
}

.resultsScoreDiv strong {
  color: #FB2576;
  font-weight: 600;
}

.historyContainer {
  position: absolute;
  color: #EDEDED;
  min-height: 100vh;
  height: fit-content;
  padding: 10px;
  width: 100%;
  top: 0px;
  z-index: 997;
  background: rgba(0, 0, 0, 0.502);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.historyRounds {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  padding: 20px;
}

.historyDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: fit-content;
  padding: 20px;
}

.historyListCard {
  color: #EDEDED;
  font-weight: 400;
  font-size: 0.85rem;
  background-color: #1c1c1c;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid rgba(56, 56, 56, 0.721);
  cursor: pointer;

}

.historyDetailCard {
  width: 300px;
  border: 1px solid #FB2576;
  color: #EDEDED;
  font-weight: 400;
  font-size: 0.85rem;
  background-color: #1c1c1c;
  border-radius: 15px;
  padding: 20px;
}

.showHistorybtn {
  width: 60px;
  filter: brightness(10);

}

.closeHistorybtn {
  width: 60px;
  filter: brightness(10);
  transform: rotate(180deg);
}

.eye {
  font-size: 2rem;
  color: #FB2576;
}