@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background: rgb(24, 15, 27);
  -ms-overflow-style: none;
  background: rgb(24, 15, 27);
  background: linear-gradient(130deg, rgba(24, 15, 27, 1) 0%, rgba(40, 6, 31, 1) 100%);
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  overflow-x: hidden;
  border: 1px solid blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-top: 10px;
  gap: 0px;
  border: 1px solid orange;
}

.braggy {
  font-size: 4rem;
  letter-spacing: 5px;
  font-weight: 300;
  margin-top: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 1px 15px 0 rgba(255, 104, 240, 0.255);
  cursor: pointer;
  padding: 10px;
  background: rgb(255, 104, 240);
  background: linear-gradient(90deg, rgba(255, 104, 240, 1) 0%, rgba(23, 172, 255, 1) 100%);
}

.btnIcon {
  font-size: 2.5rem;
  color: rgb(24, 15, 27);
}

a {
  display: block;
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
  margin: 0 auto;
  margin-bottom: 20px;
  width: fit-content;
  letter-spacing: 5px;
}

.swipesContainer {
  height: fit-content;
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  margin: 40px;
  border: 1px slateblue solid;
}

.swipesContainer div {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swipesContainer div span {
  text-align: center;
  position: absolute;
  top: -20px;
  width: 300px;
  margin: 10px;
  font-weight: 200;
  font-size: 0.85rem;
}

.swipeIcon {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  opacity: 0.8;
}

.swipeUpIcon {
  transform: rotate(270deg);
  width: 50px;
  height: 50px;
  filter: invert(100%);
  opacity: 0.8;
}

.timerIcon {
  filter: invert(100%);
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

.scoreIcon {
  filter: grayscale(100);
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: auto;
  min-height: 100vh;
  height: fit-content;
  border: 1px solid green;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  position: relative;
  border: 1px solid red;
  width: 100%;
  width: auto;
  height: fit-content;
}

* {
  user-select: none;
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid yellow;
  /* width: auto; */
  height: fit-content;
}

.app {
  min-height: 100vh;
  height: fit-content;
  border: 1px solid white;
  width: 100%;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 2rem;
}

h3 {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 30px;
}

.swipe {
  position: absolute;
}

.timerContainer {
  color: rgb(61 25 91);
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  border: 1px solid #ff68f0;
  border-radius: 15px;
  padding: 10px;
  width: 220px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  box-shadow: 0 1px 15px 0 rgba(255, 104, 240, 0.255);
}

.seconds {
  font-weight: 500;
  font-size: 1.5rem;
}

.cardContainer {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid pink;
}

.card {
  position: relative;
  width: 300px;
  height: 500px;
  border: 1px solid rgba(107, 107, 107, 0.22);
  box-shadow: 0 1px 10px 0 rgba(255, 104, 240, 0.098);
  background: #ffffff;
  border-radius: 15px;
  transform: perspective(900px) rotateX(25deg);
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
    auto;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 300px;
  overflow: hidden;
}

.logoContainer img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: none;
}

.PLcontainer {
  height: fit-content;
  overflow: hidden;
}

.PLcontainer img {
  width: 50%;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  border: 1px solid rgba(107, 107, 107, 0.22);
  box-shadow: 0 1px 10px 0 rgba(255, 104, 240, 0.198);
  font-size: 1rem;
  font-weight: 400;
  width: 250px;
  height: fit-content;
  margin: 0;
  padding: 10px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 25px;
  border-radius: 15px;
}

.card h4 {
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  bottom: 100px;
  left: 25px;
  width: 250px;
  height: fit-content;
  margin: 0px;
  padding: 0px;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.animated-container {
  display: flex;
  justify-content: center;
}

.highscore {
  font-size: 1.5rem;
  font-weight: 100;
  background-color: rgba(30, 20, 40, 0.5);
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  height: 100px;
}

.information {
  width: 300px;
  height: fit-content;
  background-color: rgba(30, 20, 40, 0.502);
  border-radius: 15px;
  padding: 20px;
  line-height: 30px;
  font-size: 1rem;
  font-weight: 100;
}

.loaderContainer {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.loaderContainer h3 {
  font-size: 1.2rem;
  letter-spacing: 4px;
}

.loader {
  width: 200px;
  position: absolute;
  top: 30px;
  left: 0;
  filter: saturate(0.5);
}

.resultsContainer {
  position: absolute;
  color: white;
  min-height: 100vh;
  height: fit-content;
  padding: 0px;
  width: 100%;
  top: 0px;
  z-index: 999;
  background: rgba(30, 20, 40, 0.5019607843137255);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.closeBtn {
  position: absolute;
  left: 20px;
  top: 20px;
}

.resultListFixture {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: fit-content;
}

.hometeamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 200;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  color: black;
}

.hometeamContainer img{
  width: 30px;
  color: red;
}

.resultsScoreContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 300;
  overflow: hidden;
  color: #ffffff;
}

.awayteamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 200;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  color: black;
}

.awayteamContainer img{
  width: 30px;
}

.correct {
  color: #ffffff;;
  font-size: 1.5rem;
}

.wrong {
  color: #ffffff;;
  font-size: 1.5rem;
}

.resultsUIinformation{
  display: flex;
  flex-direction: column;
}