@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background: rgb(24, 15, 27);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 10px;
  gap: 0px;
}

.braggy{
  font-size: 4rem;
  letter-spacing: 5px; 
  font-weight: 300;
  margin-top: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 1px 15px 0 rgba(255, 104, 240, 0.255);
  cursor: pointer;
  padding: 10px;
  background: rgb(255, 104, 240);
  background: linear-gradient(90deg, rgba(255, 104, 240, 1) 0%, rgba(23, 172, 255, 1) 100%);
}

.btnIcon {
  font-size: 2.5rem;
  /* color: #38003c; */
  color: rgb(24, 15, 27);
  ;
}

a {
  color: #17acff;
  display: block;
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
  margin: 0 auto;
  margin-bottom: 20px;
  width: fit-content;
  letter-spacing: 10px;
}

.swipesContainer {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px;
}

.swipesContainer div {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

}

.swipesContainer div span {
  text-align: center;
  position: absolute;
  top: -20px;
  width: 300px;
  margin: 10px;
  font-weight: 200;
  font-size: 0.85rem;
}

.swipeIcon {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  opacity: 0.8;
}

.swipeUpIcon {
  transform: rotate(270deg);
  width: 50px;
  height: 50px;
  filter: invert(100%);
  opacity: 0.8;
}

.timerIcon{
  filter: invert(100%);
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

* {
  user-select: none;
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app {
  overflow: hidden;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 2rem;
}

h3 {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 30px;
}

.swipe {
  position: absolute;
}

.timerContainer {
  color: rgb(61 25 91);
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  border: 1px solid #ff68f0;
  border-radius: 15px;
  /* background-color: rgb(0,255,133);
  background-color: #ff68f0; */
  padding: 10px;
  width: 220px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.112); */
  box-shadow: 0 1px 15px 0 rgba(255, 104, 240, 0.255);
}

.seconds {
  /* color: #e90052; */
  font-weight: 500;
  font-size: 1.5rem;
}

.cardContainer {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card {
  position: relative;
  width: 300px;
  height: 500px;
  border: 1px solid rgba(107, 107, 107, 0.22);
  /* box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.112); */
  box-shadow: 0 1px 10px 0 rgba(255, 104, 240, 0.255);
  background: rgb(255, 255, 255);
  border-radius: 15px;
  transform: perspective(900px) rotateX(25deg);
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
    auto;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 300px;
  overflow: hidden;
}

.logoContainer img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: none;
}

.PLcontainer {
  height: fit-content;
  overflow: hidden;
}

.PLcontainer img {
  width: 50%;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  /* color: rgb(61 25 91); */
  /* background-color: rgb(0,255,133); */
  background-color: rgb(24, 15, 27);
  font-size: 01rem;
  font-weight: 400;
  width: 250px;
  height: fit-content;
  margin: 0;
  padding: 10px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 25px;
  border-radius: 15px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.112);
}

.highscore{
  font-size: 1.5rem;
  font-weight: 100;
}